body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #949398ff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.navbar {
    top: 0;
    position: sticky;
    width: 100%;
    background-color: #333;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #555;
}

.container {
    background-color: #ffffff;
    margin: 20px 0;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    padding-top: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 80%;
    text-align: center;
}

h2 {
    /* color: #007bff; */
    margin-bottom: 20px;
}

h3 {
    /* color: #007bff; */
    margin-top: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: black;
}

ul {
    text-align: left;
    margin: 10px 0;
    padding-left: 20px;
    color: white;
}

ul ul {
    margin-top: 5px;
}

img{
    height: 50px;
    width: 50px;
}
.features-boxes, .team-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    
}

.feature-box, .team-box {
    background-color: rgb(141, 139, 128);
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    /* flex: 1 1 calc(25% - 20px); */
    width: 20%;
    box-shadow: 0px 9px 18px black;
    text-align: left;
    transition: all 0.5s ease-in-out;
}

.feature-box:hover, .team-box:hover{
    scale: 1.1;
}
.feature-box h3 {
    color: white;
    margin-bottom: 10px;
}
.feature-box p, .team-box p {
        font-size: 16px;
        line-height: 1.6;
        color: white;
}

.feature-box ul, .feature-box p {
    color: white;
}

.team-box {
    text-align: center;
}

.team-box img {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    object-fit: contain;
    /* border: 2px solid #ced4da; */
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],input[type="date"] {
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

input[type="submit"], button[type="submit"] {
    padding: 12px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

input[type="submit"]:hover, button[type="submit"]:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dee2e6;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #ffffff;
}

td {
    background-color: #ffffff;
}

.myform {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
}

td input[type="text"],
td input[type="number"],td input[type="date"]{
    width: 60%;
}
.view-table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    margin: auto;
}

.view-table td {
    padding: 20px;
    border: 1px solid #dee2e6;
    text-align: center;
}

.view-table a {
    display: block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.view-table a:hover {
    background-color: #0056b3;
}
